<%= title "Edit " + resource_name.to_s.humanize %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>
<legend>Enter Your Details</legend>
<div class="control-group">
    <%= f.label :name, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :name %>
  </div>
</div>

<div class="control-group">
    <%= f.label :email, :class => "control-label" %>
    <div class="controls">
    <%= f.email_field :email %>
  </div>
</div>


<div class="control-group">
    <%= f.label :password, :class => "control-label" %>
    <div class="controls">
    <%= f.password_field :password, :autocomplete => "off" %>
        <i>(leave blank if you don't want to change it)</i>
  </div>
</div>

<div class="control-group">
    <%= f.label :password_confirmation, :class => "control-label" %>
    <div class="controls">
    <%= f.password_field :password_confirmation %>
  </div>
</div>

<div class="control-group">
    <%= f.label :current_password, :class => "control-label" %>
    <div class="controls">
    <%= f.password_field :current_password %>
        <i>(we need your current password to confirm your changes)</i>
  </div>
</div>

<div class="control-group">
    <%= f.label :role, :class => "control-label" %>
    <div class="controls">
    <%= f.select :role, [ 'Owner', 'Manager', 'Stock Control', 'Cashier', 'Default'] %>
  </div>
</div>

<div class="control-group">
    <%= f.label :postcode, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :postcode %>
  </div>
</div>

<div class="control-group">
    <%= f.label :discount, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :discount %>
  </div>
</div>

<div class="control-group">
    <%= f.label :membership, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :membership %>
  </div>
</div>

  <div class="form-actions">
  <%= f.submit "Update" , :class=>"btn btn-primary"%>

<%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class=>"btn btn-warning"%>.

<%= link_to "Back", :back,:class=>"btn" %>

  </div>

<% end %>


