<% title "Stock Control" %>

<h1>Welcome To Stock Control</h1>

<div class="row-fluid">
  <div class="span12">
    <div class="well btn-group" style="text-align:center;">
      <a class="btn btn-large" href="/products">Products</a>
      <a class="btn btn-large" href="/suppliers">Suppliers</a>
      <a class="btn btn-large" href="/stock_locations">Stock Locations</a>
      <a class="btn btn-large" href="/stock_transfers">Stock Transfers</a>
      <a class="btn btn-large" href="/supplier_stock_orders">Supplier Stock Orders</a>
    </div>
  </div>
</div>

<table class="table table-bordered">
  <tr>
    <th>Product</th>
    <th>Stock location</th>
    <th>quantity</th>
    <th>Threshold</th>
  </tr>

<% @stock_levels.each do |stock_level| %>
  <tr <%= "style=background:#f2dede;" if stock_level.below %>>
    <td><%= stock_level.product.name %></td>
    <td><%= stock_level.stock_location.name %></td>
    <td><%= stock_level.quantity %></td>
    <td><%= stock_level.threshold %></td>
    </tr>
<% end %>
</table>