<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @stock_level.product.name %>
</p>

<p>
  <b>Stock location:</b>
  <%= @stock_level.stock_location.name %>
</p>

<p>
  <b>quantity:</b>
  <%= @stock_level.quantity %>
</p>

<p>
  <b>Threshold:</b>
  <%= @stock_level.threshold %>
</p>


<%= link_to 'Edit', edit_stock_level_path(@stock_level) %> |
<%= link_to 'Back', stock_levels_path %>
