<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @test2.product %>
</p>

<p>
  <b>Stock location:</b>
  <%= @test2.stock_location %>
</p>

<p>
  <b>Quanity:</b>
  <%= @test2.quanity %>
</p>

<p>
  <b>Threshold:</b>
  <%= @test2.threshold %>
</p>


<%= link_to 'Edit', edit_stock_level_path(@stock_level) %> |
<%= link_to 'Back', stock_levels_path %>
