  <% if @stock_location.errors.any? %>
    <div class="global-flash">
    <div class="alert alert-error">
      <h2><%= pluralize(@stock_location.errors.count, "error") %> prohibited this stock_location from being saved:</h2>

      <ul>
      <% @stock_location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>

<%= form_for @stock_location, :html => {:class => "form-horizontal"}  do |f| %>
<legend>Attributes</legend>
  <div class="control-group">
   <%= f.label :name, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :name %>
    </div>
  </div>


  <div class="control-group">
   <%= f.label :previous_location_id, :class => "control-label" %>
    <div class="controls">
    <%= f.collection_select(:previous_location_id, StockLocation.all, :id, :name, {:include_blank => "None"}) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit :class=>"btn btn-primary"%>
    <%= link_to 'Back', stock_locations_path, :class => "btn" %>
  </div>
<% end %>
