<%= form_for(@stock_transfer) do |f| %>
  <% if @stock_transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock_transfer.errors.count, "error") %> prohibited this stock_transfer from being saved:</h2>

      <ul>
      <% @stock_transfer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product %><br />
    <%= f.collection_select :product, Product.all, :id, :name %>

  </div>
  <div class="field">
    <%= f.label :stock_location, "Transfer To" %><br />
    <%= f.collection_select :stock_location, StockLocation.where("previous_location_id is NOT NULL"), :id, :name %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity, :value=> 1%>
  </div>
<!--   <div class="field">
    <%= f.label :complete %><br />
    <%= f.check_box :complete %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
