<%= title "Edit Stock Transfer Quantity" %>

<%= form_for(@stock_transfer) do |f| %>
  <% if @stock_transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock_transfer.errors.count, "error") %> prohibited this stock_transfer from being saved:</h2>

      <ul>
      <% @stock_transfer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :product, :value => @stock_transfer.product.id %>
    <%= f.hidden_field :stock_location, :value => @stock_transfer.stock_location.id %>

   <table class="table table-bordered">
   <tr>
	    <th>Product</th>
	    <td><%= @stock_transfer.product.name %></td>
	</tr>
	<tr>
	    <th>Transfer To</th>
	    <td><%= @stock_transfer.stock_location.name %></td>
	</tr>
   	<tr>
	    <th>Quantity</th>
	    <td><%= f.number_field :quantity, :value=> 1%></td>
	</tr>
</table>

  <div class="actions">
    <%= f.submit "Update Stock Transfer", :class=>"btn btn-primary"%>
  </div>
<% end %>

<%= link_to 'Show', @stock_transfer %> |
<%= link_to 'Back', stock_transfers_path %>
