<h1>Listing stock_transfers</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Stock location</th>
    <th>Quantity</th>
    <th>Complete</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stock_transfers.each do |stock_transfer| %>
  <tr>
    <td><%= stock_transfer.product %></td>
    <td><%= stock_transfer.stock_location %></td>
    <td><%= stock_transfer.quantity %></td>
    <td><%= stock_transfer.complete %></td>
    <td><%= link_to 'Show', stock_transfer %></td>
    <td><%= link_to 'Edit', edit_stock_transfer_path(stock_transfer) %></td>
    <td><%= link_to 'Destroy', stock_transfer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stock transfer', new_stock_transfer_path %>
