<%= form_for([@sale, @sale_item]) do |f| %>
  <% if @sale_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale_item.errors.count, "error") %> prohibited this sale_item from being saved:</h2>

      <ul>
      <% @sale_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product %><br />
    <%= f.collection_select :product, Product.where(:active => true), :id, :name %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit 'Add Items', :class => "btn btn-success" %>
  </div>
<% end %>
