<table class="table table-bordered table-striped">
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Sub Total</th>
    <th>Tools</th>
  </tr>

<% @sale_items.each do |sale_item| %>
  <tr>
    <td>
      <%= sale_item.product.name %>
    </td>
    <td>
      <%= sale_item.quantity %>
    </td>
    <td>
      <%= sale_item.sub_total %>
    </td>
    <td class="btn-group">
      <%= link_to 'Edit', edit_sale_sale_item_path(@sale, sale_item), :class => "btn" %>
      <%= link_to 'Remove', [@sale, sale_item], method: :delete, data: { confirm: 'Are you sure?' }, :class=> "btn" %>
    </td>
  </tr>
<% end %>
</table>


<%= link_to 'Add Items', new_sale_sale_item_path(@sale), :class => "btn btn-success" %>

<br />