<%= title "Editing Supplier Stock Order" %>

  <% if @supplier_stock_order.errors.any? %>
        <div class="global-flash">
    <div class="alert alert-error">
      <h2><%= pluralize(@supplier_stock_order.errors.count, "error") %> prohibited this supplier_stock_order from being saved:</h2>

      <ul>
      <% @supplier_stock_order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>

<%= form_for @supplier_stock_order , :html => {:class => "form-horizontal"} do |f| %>
<legend>Attributes</legend>
  <div class="control-group">
    <%= f.label :product, :class => "control-label" %>
    <div class="controls">
    <%= @supplier_stock_order.product.name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :quantity, :class => "control-label" %>
    <div class="controls">
    <%= f.number_field :quantity%>
    </div>
  </div>
  <%= f.hidden_field :product, :value => @supplier_stock_order.product.id%>
  <%= f.hidden_field :status, :value => @supplier_stock_order.status%>

  <div class="form-actions">
    <%= f.submit :class => "btn btn-primary"%>
    <%= link_to 'Show', @supplier_stock_order, :class => "btn btn-success" %>
    <%= link_to 'Cancel', supplier_stock_orders_path, :class => "btn" %>
  </div>

<% end %>
