<%= title "Listing Supplier Stock Orders" %>

<% @supplier_stock_orders.group_by(&:status).each do |status, supplier_stock_orders| %>
  <h2><%= status %></h2>

  <table class="table table-bordered table-striped">
    <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Created On</th>
    <th>Last Updated</th>
    <th>Tools</th>
  </tr>

    <% supplier_stock_orders.each do |supplier_stock_order| %>
      <tr>
    <td><%= supplier_stock_order.product.name %></td>
    <td><%= supplier_stock_order.quantity %></td>
    <td><%= supplier_stock_order.created_at.localtime.to_formatted_s(:short)   %></td>
    <td><%= supplier_stock_order.updated_at.localtime.to_formatted_s(:short)   %></td>
    <td class="btn-group"><%= link_to 'View Purchase Order', supplier_stock_order, :class => "btn btn-success" %>

      <% if status=="Created" %>
      <%= link_to 'Adjust Quantity', edit_supplier_stock_order_path(supplier_stock_order), :class => "btn btn-warning" %>
      <%= link_to 'Process', process_order_supplier_stock_order_path(supplier_stock_order), :class => "btn btn-primary" %><%= link_to 'Cancel', supplier_stock_order, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"btn btn-danger" %>
     <% elsif status=="Processed" %>
        <%= link_to 'Complete', complete_supplier_stock_order_path(supplier_stock_order), :class => "btn btn-primary" %>

      <% end %>

    </td>

  </tr>
    <% end %>
  </table>
<% end %>

<%= link_to 'New Order', new_supplier_stock_order_path, :class=>"btn btn-primary" %>
