<h3>Refund for <%= @refund.sale_item.product.name %> in Sale #<%= @refund.sale_item.sale.id %></h3>

  <% if @refund.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@refund.errors.count, "error") %> prohibited this refund from being saved:</h2>

      <ul>
      <% @refund.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for @refund,  :html => {:class => "form-horizontal"} do |f| %>
<legend>Attributes</legend>

    <input type="hidden" name="sale_item_id" value="<%= @refund.sale_item.id %>">

  <div class="control-group">
   <%= f.label :quantity, :class => "control-label" %>
    <div class="controls">
    <%= f.number_field :quantity %>
    </div>
  </div>

  <div class="control-group">
   <%= f.label :reason, :class => "control-label" %>
    <div class="controls">
    <%= f.text_area :reason, :rows => 5 %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit :class=>"btn btn-primary"%>
    <%= link_to 'Back', refunds_path, :class => "btn" %>
  </div>
<% end %>
