<%= form_tag 'refunds/search', :class => "form-inline pull-right" do %>
  <%= text_field_tag 'sale_id', '', :placeholder => "Enter Recipt No. (Sale ID)" %>
  <%= submit_tag 'New Refund', :class => "btn btn-success" %>
<% end %>

<h2>Listing refunds</h2>

<table class="table table-bordered table-striped">
  <tr>
    <th>Sale item</th>
    <th>Checkout user</th>
    <th>Quantity</th>
    <th>Reason</th>
    <th>Total</th>
    <th>Tools</th>
  </tr>

<% @refunds.each do |refund| %>
  <tr>
    <td><%= refund.sale_item.product.name %></td>
    <td><%= refund.checkout_user.name %></td>
    <td><%= refund.quantity %></td>
    <td><%= refund.reason %></td>
    <td><%= refund.total %></td>
    <td><%= link_to 'Show', refund, :class => "btn btn-success" %></td>
<!--     <td><%= link_to 'Edit', edit_refund_path(refund) %></td> -->

  </tr>
<% end %>
</table>

<br />
