<p id="notice"><%= notice %></p>

<p>
  <b>Sale:</b>
  <%= @transaction.sale %>
</p>

<p>
  <b>Amount:</b>
  <%= @transaction.amount %>
</p>

<p>
  <b>Method:</b>
  <%= @transaction.method %>
</p>

<p>
  <b>Approved:</b>
  <%= @transaction.approved %>
</p>


<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
