  <% if @product.errors.any? %>

  <div class="global-flash">

          <div class="alert alert-error"><h1>Error</h1><ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul></div>
        </div>
  <% end %>

<%= form_for @product, :html => {:class => "form-horizontal"} do |f| %>

<legend>Attributes</legend>

  <div class="control-group">
    <%= f.label :supplier, :class => "control-label" %>
    <div class="controls">
    <%= f.collection_select :supplier, Supplier.all, :id, :name, {:prompt => 'Select Supplier'}%>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :barcode, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :barcode %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :name, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :brand, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :brand %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :size, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :size %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, :class => "control-label" %>
    <div class="controls">
    <%= f.text_area :description,:rows => "5" %>
    </div>
  </div>

<legend>Pricing</legend>
  <div class="control-group">
   <%= f.label :cost, :class => "control-label" %>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on">$</span><%= f.text_field number_with_precision(:cost, :precision => 2) %>
        </div>
    </div>
  </div>

  <div class="control-group">
   <%= f.label :price, :class => "control-label" %>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on">$</span><%= f.text_field number_with_precision(:price, :precision => 2) %>
        </div>
    </div>
  </div>

  <% @product.stock_levels.each do |s| %>
    <%= fields_for "stock_level[#{s.stock_location.id}]", s do |builder| %>
    <legend>Stock Levels - <%= s.stock_location.name %></legend>
      <div class="control-group">
        <%= builder.label :quantity, :class => "control-label" %>
        <div class="controls">
        <%= builder.number_field :quantity%>
        </div>
      </div>

      <div class="control-group">
        <%= builder.label :threshold, :class => "control-label" %>
        <div class="controls">
        <%= builder.number_field :threshold%>
        </div>
      </div>

     <% end %>
  <% end %>

 

<%= f.hidden_field :active, :default=>false %></td>

  <div class="form-actions">
    <%= f.submit :class=>"btn btn-primary"%>
    <% if @product.id %>
    <%= link_to 'Show', @product, :class => "btn btn-success" %>
    <% end %>
    <%= link_to 'Back', products_path, :class => "btn" %>
  </div>
<% end %>
