<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :barcode %><br />
    <%= f.text_field :barcode %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :cost %><br />
    $ <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    $ <%= f.text_field :price %>
  </div>
  <h3>Stock Levels</h3>
 
<!-- Here we call fields_for on the project_form builder instance.
       The block is called for each member of the tasks collection. -->
  <%= f.fields_for :stock_levels do |ff| %>
      <p>
        <div>
          <%= ff.label :name %>
        </div>
      </p>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
