<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <table class="table table-bordered">
    <tbody>
       <tr>
         <th><%= f.label :supplier %></th>
         <td><%= f.collection_select :supplier, Supplier.all, :id, :name %></td>
       </tr>
       <tr>
         <th><%= f.label :barcode %></th>
         <td><%= f.text_field :barcode %></td>
       </tr>
      <tr>
        <th><%= f.label :name %></th>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <th><%= f.label :brand %></th>
        <td><%= f.text_field :brand %></td>
      </tr>
      <tr>
        <th><%= f.label :size %></th>
        <td><%= f.text_field number_with_precision(:size, :precision => 2) %></td>
      </tr>
      <tr>
        <th><%= f.label :description %></th>
        <td><%= f.text_area :description,:rows => "5" %></td>
      </tr>
      <tr>
        <th><%= f.label :cost %></th>
        <td>$ <%= f.text_field number_with_precision(:cost, :precision => 2) %></td>
      </tr>
      <tr>
        <th><%= f.label :price %></th>
        <td>$ <%= f.text_field number_with_precision(:price, :precision => 2) %></td>
      </tr>
      <tr>
        <td colspan="2"><h3>Stock Levels</h3></td>
      </tr>
      <% @product.stock_levels.each do |s| %>
         <%= fields_for "stock_level[#{s.stock_location.id}]", s do |builder| %>
         <tr>
            <td colspan="2"> <h4><%= s.stock_location.name %></h4></td>
         </tr>
         <tr>
            <th><%= builder.label :quantity, 'Quantity' %></th>
            <td><%= builder.number_field :quantity %></td>
         </tr>
         <tr>
            <th><%= builder.label :threshold %></th>
            <td><%= builder.number_field :threshold %></td>
         </tr>
         <% end %>
      <% end %>
    </tbody>
  </table>
<%= f.hidden_field :active %></td>

  <div class="actions">
    <%= f.submit :class=>"btn btn-primary"%>
  </div>
<% end %>
