
<form class="form-inline pull-right">
  <input type="text" onkeyup="filter_products(this)" placeholder="Search Products...">
</form>

<%= title "Product Listing" %>

<table class="table table-bordered table-striped" id="product_table">
  <tr>
    <th>Name</th>
    <th>Cost Price</th>
    <th>Retail Price</th>
    <% StockLocation.order("id").each do |s| %>
      <th><%= s.name %></th>
    <% end %>
    <th>Supplier</th>
    <th>Active</th>
    <th>Tools</th>

  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= number_to_currency(product.cost) %></td>
    <td><%= number_to_currency(product.price) %></td>

      <% product.stock_levels.order("stock_location_id").each do |s| %>
      <td>
          Quantity: <%= s.quantity %><br>
          Threshold: <%= s.threshold %><br><br>
      </td>
      <% end %>
      <td><%= product.supplier.name %></td>
      <td>
      <% if product.active=='t' %>
      <i class="icon-ok"></i>
      <% else %>
      <i class="icon-remove"></i>
      <% end %>
    </td>
    <td class="btn-group">
      <%= link_to 'Show', product, :class=>"btn btn-success"%>
      <%= link_to 'Edit', edit_product_path(product), :class=>"btn btn-warning" %>

      <% if product.active == 't' %>
        <%= link_to 'Deactivate', deactivate_product_path(product), :class=>"btn btn-danger" %>
      <% else %>
        <%= link_to raw('&nbsp;&nbsp;Activate&nbsp;&nbsp;'), activate_product_path(product), :class=>"btn btn-primary" %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'New Product', new_product_path, :class=>"btn btn-primary" %>

<script type="text/javascript">
  function filter_products (term){
      var query = term.value.toLowerCase();
      var table = document.getElementById('product_table');
      var elm;
      for (var r = 1; r < table.rows.length; r++){
          elm = table.rows[r].cells[0].innerHTML.replace(/<[^>]+>/g,"");
          if (elm.toLowerCase().indexOf(query)>=0 ) {
              table.rows[r].style.display = '';
          } else {
              table.rows[r].style.display = 'none';
          }
      }
  }
</script>
