<%= title "Product Listing" %>

<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Cost Price</th>
    <th>Retail Price</th>
    <% StockLocation.order("id").each do |s| %>
      <th><%= s.name %></th>
    <% end %>
    <th>Supplier</th>
    <th>Active</th>
    <th>Tools</th>

  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= number_to_currency(product.cost) %></td>
    <td><%= number_to_currency(product.price) %></td>

      <% product.stock_levels.order("stock_location_id").each do |s| %>
      <td>
          Quantity: <%= s.quantity %><br>
          Threshold: <%= s.threshold %><br><br>
      </td>
      <% end %>
      <td><%= product.supplier.name %></td>
      <td>
      <% if product.active=='t' %>
      <i class="icon-ok"></i>
      <% else %>
      <i class="icon-remove"></i>
      <% end %>
    </td>
    <td class="btn-group">
      <%= link_to 'Show', product, :class=>"btn btn-success"%>
      <%= link_to 'Edit', edit_product_path(product), :class=>"btn btn-warning" %>

      <% if product.active == 't' %>
        <%= link_to 'Deactivate', deactivate_product_path(product), :class=>"btn btn-danger" %>
      <% else %>
        <%= link_to raw('&nbsp;&nbsp;Activate&nbsp;&nbsp;'), activate_product_path(product), :class=>"btn btn-primary" %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'New Product', new_product_path, :class=>"btn btn-primary" %>
