<%= title("Showing Supplier") %>

<div class="form-horizontal">

<legend>Attributes</legend>

<div class="control-group">
<label class="control-label">Name:</label>
<div class="controls">
<%= @supplier.name %>
</div>
</div>

<div class="control-group">
<label class="control-label">Contact person:</label>
<div class="controls">
<%= @supplier.contact_person %>
</div>
</div>

<div class="control-group">
<label class="control-label">Contact number:</label>
<div class="controls">
<%= @supplier.contact_number %>
</div>
</div>

<div class="form-actions">
	<%= link_to 'Edit', edit_supplier_path(@supplier), :class => "btn btn-primary"  %>
	<%= link_to 'Back', suppliers_path, :class => "btn"  %>
</div>
</div>