<%= form_for(@sale) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h3>Your Shopping Basket</h3>
  <br/>
  <input id="sale_id" value="<%= @sale.id %>" type="hidden">
  <div class="row">
     <div class="span8">
        <div>

           <table class="table table-hover">
              <thead>
                 <tr>
                    <th>Product</th>
                    <th>Unit Price</th>
                    <th>Qty</th>
                    <th>Price</th>
                 </tr>
              </thead>
              <tbody>
                 <% @sale_items.each do |sale_item| %>
                   <tr>
                     <td><%= sale_item.product.name %></td>
                     <td><%= sale_item.product.price %></td>
                     <td><%= sale_item.quantity %></td>
                     <td><%= number_to_currency(sale_item.sub_total) %></td>
                   </tr>
                 <% end %>
                 <tr>
                    <td></td>
                    <td></td>
                    <td><b>Total</b></td>
                    <td><b>$10.00</b></td>
                 </tr>

              </tbody>
           </table>
           <div class="field">
             <input type="text" placeholder="Scan a product">
           </div>
        </div>
     </div>
     <div class="span4">
        <div class="well">
           <h4>Cart Details</h4>
           <span>2 items</span><br/><br/>
           <b>Total - $10.00</b>
        </div>
        <%= button_to 'Proceed to Payment', sales_path, :class => "btn btn-success" %>      
     </div>
  </div>
<% end %>


