  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h3>Your Shopping Basket</h3>
  <br/>
  <div class="row">
     <div class="span8">
        <div>

           <table class="table table-hover" id="sale_items">
              <thead>
                 <tr>
                    <th>Product</th>
                    <th>Unit Price</th>
                    <th>Qty</th>
                    <th>Price</th>
                 </tr>
              </thead>
              <tbody>
                 <% @sale.sale_items.each do |sale_item| %>

                   <tr>
                       <td><%= sale_item.product.name %></td>
                       <td><%= sale_item.product.price %></td>
                       <td><%= sale_item.quantity %></td>
                       <td><%= number_to_currency(sale_item.sub_total) %></td>
                     </tr>
                 <% end %>
                 <tr id="totals">
                    <td></td>
                    <td></td>
                    <td><b>Total</b></td>
                    <td><b id="total-top"><%= number_to_currency(@sale.total) %></b></td>
                 </tr>

              </tbody>
           </table>
           <%= form_for(@sale_item, :remote => true) do |ff| %>

            <%= ff.text_field :product, :placeholder => "Scan a product" %>
            <%= ff.hidden_field :sale, :value => @sale.id %>
            <%= ff.number_field :quantity, :value => 1%>

              <%= button_to 'Add Sale Item', sale_items_path, :class => "btn btn-success" %>      

           <% end %>
        </div>
     </div>

     
     <div class="span4">
        <div class="well">
          <%= form_for(@sale) do |f| %>
          <%= f.hidden_field :id %>
           <h4>Cart Details</h4>
           <span id="num_items"><%= @sale.products.size %> items</span><br/><br/>
           <b id="total-bottom">Total: <%= number_to_currency(@sale.total) %></b>
        </div>
        <%= button_to 'Proceed to Payment', sales_path, :class => "btn btn-success" %>   
        <% end %>
   
     </div>
  </div>




