<%= form_for(@sale) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer %>
    <%= f.collection_select :customer, User.all, :id, :email %>
  </div>
  <div class="field">
    <%= f.label :checkout_user %>
    <%= f.select :checkout_user, [[current_user.email, current_user.id]], {}, :disabled => 'disabled' %>
  </div>
  <div class="actions">
    <%= f.submit 'Proceed to Checkout', :class => "btn btn-success" %>
  </div>
<% end %>


