<% if @sale.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

    <ul>
      <% @sale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<% if @transaction.errors.any? %>
  <div class="global-flash">
    <div class="alert alert-error">
      <h1>Error</h1>
      <ul>
        <% @transaction.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<h3>Your Payment</h3>

<div class="row">
  <div class="span8">
    <div class="row">
      <div class="well">
        <table class="table table-hover" id="sale_items">
          <thead>
            <tr>
              <th>Method</th>
              <th>Amount</th>
              <th>Approved</th>
            </tr>
          </thead>
          <tbody>
            <% @sale.transactions.each do |tr| %>
              <tr>
                <td><%= tr.method %></td>
                <td><%= number_to_currency(tr.amount) %></td>
                <td><%= tr.approved %></td>
              </tr>
            <% end %>

            <tr id="totals">
              <td></td>
              <td><b><% if @sale.change_given %>Change <% else %> Amount <% end %> Due</b></td>
              <td><b id="total-top"><%= number_to_currency((@sale.total - @sale.discount - @sale.amount_paid).abs) %></b></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="span8">

          <ul class="nav nav-tabs">
            <li <%= 'class=active' if @transaction.method == 'Cash' %>><a href="#payment-cash" data-toggle="tab">Cash Payment</a></li>
            <li <%= 'class=active' if @transaction.method == 'Other' %>><a href="#payment-other" data-toggle="tab">Other Payment</a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane <%= 'active' if @transaction.method == 'Cash' %>" id="payment-cash">
              <%= form_for @transaction do |tr| %>
                <%= tr.hidden_field :sale, :value => @sale.id %>
                <%= tr.hidden_field :method, :value => 'Cash' %>
                <%= tr.hidden_field :approved, :value => 1 %>

                <div class="field">
                  <%= tr.label :amount %>
                  <%= tr.select :amount, [0.05, 0.10, 0.20, 0.50, 1.00, 2.00, 5.00, 10.00, 20.00, 50.00, 100.00] %>
                </div>
                <% if @sale.change_given > 0 %>
                  <br />
                  <b>Change Due: <%= @sale.change_given %></b>
                <% end %>
                <div class="actions">
                  <%= tr.submit 'Pay Cash', :class => "btn btn-success" %>
                </div>
              <% end %>
            </div>

            <div class="tab-pane <%= 'active' if @transaction.method == 'Other' %>" id="payment-other">
              <%= form_for @transaction do |tr| %>
                <%= tr.hidden_field :sale, :value => @sale.id %>
                <%= tr.hidden_field :method, :value => 'Other' %>

                <div class="field">
                  <%= tr.label :amount %>
                  <%= tr.text_field :amount %>
                </div>
                <div class="field">
                  <%= tr.label :approved do %>
                    <%= tr.check_box :approved %>
                    Approved
                  <% end %>
                </div>
                <br />
                <div class="actions">
                  <%= tr.submit 'Pay Other', :class => "btn btn-success" %>
                </div>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="span4">
    <div class="well">
      <%= form_for @sale do |ff| %>
        <%= ff.label :customer, 'Select Customer' %>
        <%= ff.collection_select :customer, User.all, :id, :email, :selected=>@sale.customer.id %>
        <%= ff.submit 'Calculate Discount', :class => "btn btn-success" %>
      <% end %>
    </div>

    <div class="well">
      <h4>Cart Details</h4>
      <table class="table table-bordered table-striped">
      <tr>
        <th>Sub Total</th>
        <td><%= number_to_currency(@sale.total) %></td>
      </tr>
      <% if @sale.customer %>
        <tr>
          <th>Customer</th>
          <td><%= @sale.customer.name %></td>
        </tr>
        <tr>
          <th>Customer<br/>Discount</th>
          <td><%= @sale.customer.discount or 0 %>%</td>
        </tr>
        <tr>
          <th>Discount<br/>Amount</th>
          <td><%= number_to_currency(@sale.discount || 0) %></td>
        </tr>
      <% end %>
      <tr>
        <th>GST</th>
        <td><%= number_to_currency((@sale.total - @sale.discount) * 0.1)%></td>
      </tr>
      <tr>
        <th>Total</th>
        <td><%= number_to_currency(@sale.total - @sale.discount)%></td>
      </tr>
      <tr>
        <th>Paid So Far</th>
        <td><%= number_to_currency(@sale.amount_paid) %></td>
      </tr>

      </table>
      <b><% if @sale.change_given %>Change <% else %> Amount <% end %> Due : 
          <%= number_to_currency((@sale.total - @sale.discount - @sale.amount_paid).abs) %>
      </b><br />
    </div>

    <%= link_to 'Finish', complete_sale_path(@sale), :class => "btn btn-success" %>
  </div>
</div>

