<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @sale.product %>
</p>

<p>
  <b>Transaction:</b>
  <%= @sale.transaction %>
</p>

<p>
  <b>Quantity:</b>
  <%= @sale.quantity %>
</p>

<p>
  <b>Discount:</b>
  <%= @sale.discount %>
</p>


<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
