<%= title "Reciept" %>

<table class="table table-bordered table-striped">
  <tr>
    <th>Checkout User:</th>
    <td><%= @sale.checkout_user.email %></td>
  </tr>
  <tr>
    <th>Total:</th>
    <td><%= number_to_currency(@sale.total) %></td>
  </tr>
  <tr>
    <th>Discount:</th>
    <td><%= @sale.discount %>%</td>
  </tr>
  <tr>
    <th>Amount Paid:</th>
    <td><%= number_to_currency(@sale.total) %></td>
  </tr>
  <tr>
    <th>Change Given:</th>
    <td><%= @sale.change_given == 0 ? 'Exact' : number_to_currency(@sale.change_given) %></td>
  <tr>
    <th>Sale Date:</th>
    <td><%= @sale.created_at %></td>
  </tr>
</table>

<h2>Items</h2>
<table class="table table-bordered table-striped">
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Sub Total</th>
    <th></th>
  </tr>

<% @sale_items.each do |sale_item| %>
  <tr>
    <td>
      <%= sale_item.product.name %>
    </td>
    <td>
      <%= sale_item.quantity %>
    </td>
    <td>
      <%= number_to_currency(sale_item.sub_total) %>
    </td>
    <td>
      <%= link_to "Refund Item", new_refund_path(:sale_item => sale_item.id), :class => 'btn btn-danger  ' %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', sales_path %>
