<p id="notice"><%= notice %></p>

<!-- <h2>Sale</h2> -->

<table class="table table-bordered table-striped">
  <tr>
    <th>Customer:</th>
    <td><%= @sale.customer.email %></td>
  </tr>
  <tr>
    <th>Checkout User:</th>
    <td><%= @sale.checkout_user.email %></td>
  </tr>
  <tr>
    <th>Total:</th>
    <td><%= @sale.total %></td>
  </tr>
  <tr>
    <th>Discount:</th>
    <td></td>
  </tr>
  <tr>
    <th>Amount Paid:</th>
    <td></td>
  </tr>
  <tr>
    <th>Sale Date:</th>
    <td><%= @sale.created_at %></td>
  </tr>
</table>

<h2>Items</h2>
<%= render :template => 'sale_items/index' %>

<br />

<!-- can't edit sales
<%= link_to 'Edit', edit_sale_path(@sale) %> | -->
<%= link_to 'Back', sales_path %>
