<%= title "Stock Report" %>

<table class="table table-bordered table-striped">
  <tr>
  	<th>Product</th>
  	<th>Total Stock Remaining</th>
  	<th>Total Sold</th>
	<th>Total On Order</th>
  </tr>

<% @products.each do |product| %>
  <tr>
  	<td><%= product.name %></td>
  	<td><%= product.total_stock %></td>
  	<td><%= product.total_sold %></td>
	<td><%= product.total_on_order %></td>

  </tr>
<% end %>
</table>

