<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>POS - <%= yield(:title) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le styles -->
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "bootstrap-responsive.min" %>
  <%= stylesheet_link_tag "main" %>


  <%= csrf_meta_tags %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="/assets/favicon.ico">
  <link href="/assets/icon.png" rel="icon" type="image/png"/>
</head>

<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">POS</a>


        <% if user_signed_in? %>
        <div class="btn-group pull-right">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-user"></i> <%= current_user.email %>
            <i class="caret"></i>
          </a>
          <ul class="dropdown-menu no-collapse" style="margin-top:8px;">
            <li><a href="/account">My Account</a></li>
            <% if current_user.can_report %><li><a href="/admin">Admin Portal</a></li><% end %>
            <li class="divider"></li>
            <li><a href="/logout">Sign Out</a></li>
          </ul>
        </div>

        <% else %>

        <div class="btn-group pull-right">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Sign In
            <i class="caret"></i>
          </a>
          <div class="dropdown-menu no-collapse" style="padding: 15px;padding-bottom:0px;margin-top:8px;">
            <form action="/login" method="post" accept-charset="UTF-8">
              <input id="username" style="margin-bottom: 15px;" type="text" name="username" placeholder="username" size="30" />
              <input id="password" style="margin-bottom: 15px;" type="password" name="password" placeholder="password" size="30" />
              <div class="btn-group">
                <input class="btn btn-primary" style="width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Sign In" />
              </div>
            </form>
          </div>
        </div>
        <% end %>


        <div class="nav-collapse">
          <ul class="nav">
            <li> 
              <a href="/">Home</a> 
            </li>
            <% if false %>
            <li class="dropdown"> 
              <a href="#">Portal</a> 
              <ul class="dropdown-menu">
                <li><a href="#">POS</a></li>
                <li><a href="#">My Purchase History</a></li>
              </ul> 
            </li>
            <% end %>
            <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sales
		<b class="caret"></b>
	      </a>
	      <ul class="dropdown-menu">
		<li><%= link_to 'New Sale', new_sale_path %></li>
                <li><%= link_to 'My Sales', sales_path %></li>
	      </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Stock Control
                    <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/stock_levels">Stock Levels</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/suppliers">Suppliers</a></li>
                <li><a href="/stock_locations">Stock Locations</a></li>
                <li><a href="/stock_transfers">Stock Transfers</a></li>
              </ul> 
            </li>
            <li>
              <a href="#">Reports</a>
            </li>
            <li>
              <a href="#">Help</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="container">
      <center>
        <div class="global-flash">
          <% if notice %>
          <div class="alert alert-info"><h1>Heads up!</h1><p><%= notice %></p></div>
          <% end %>
          <% if alert %>
          <div class="alert alert-error"><h1>Oh ohes!</h1><p><%= alert %></p></div>
          <% end %>
        </div>
      </center>
      <%= yield %>
    </div>
    <div class="push"><!--//--></div>
  </div><!-- /container -->

  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

</body>
</html>
